@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  font-family: "Figtree", sans-serif;
}

main {
  background-color: #f5d04e;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 90%;
  max-width: 400px;
  padding: 1.5rem;
  background-color: #fff;
  border: 2px solid #292929;
  box-shadow: 8px 8px 0px rgb(26, 26, 26);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card-img {
  width: 100%;
  border-radius: 10px;
}

.card-tag {
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  background-color: #f5d04e;
}

.card-date {
  font-size: 14px;
  font-weight: 500;
  color: hsl(0, 0%, 7%);
}

.card-title {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.15s ease;
}

.card-title:hover {
  color: #f5d04e;
}

.card-body {
  font-size: 17px;
  line-height: 1.4;
  color: hsl(0, 0%, 42%);
}

.card-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-avathar {
  width: 35px;
}

.author-name {
  font-size: 14px;
  font-weight: 700;
}
